<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <div class="main w-full min-h-screen bg-zinc-900 text-white">
      <div class="form p-10">
        <form method="post" action="/create"  >
          <input
            type="text"
            name="title"
            placeholder="title"
            class="rounded-lg block px-5 py-2 mt-2 bg-zinc-800 w-full" />
          <textarea
            class="rounded-lg block px-5 py-2 mt-2 bg-zinc-800 resize-none w-full"
            name="details"
            placeholder="Write Your Task Here.."></textarea>
          <button
            type="submit"
            value="Create Task"
            class="mt-2 bg-blue-600 px-5 py-2 rounded-lg" >
            Create Task
        </button>
        </form>
      </div>
      <div class="tasks px-5 flex gap-3 flex-wrap">
        <% if(files.length > 0){ files.forEach(file => { %>
        <div class="task w-72 px-3 py-4 rounded-md bg-zinc-800">
          <h1 class="text-white text-3xl tracking-tighter">
            <%- file %>
          </h1>
          <a href="/file/<%- file %>" class="text-blue-500 inline-block"> Read More.. </a>
          <a href="/edit/<%- file %>" class="text-zinc-500 inline-block mx-10"> Edit </a>
        </div>
        <% }) }else{ %>
        <h3 class="px-5">No Tasks Yet..</h3>
        <% } %>
      </div>
    </div>
  </body>
</html>
